*{
	transition: all .1s ease-in;
}

body{
	font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
	background-color: #3399CC;
	margin: 0;
	/*height: calc(100px 40px);*/
	border: 25px solid #2B81AC;
	box-sizing: border-box;
}


main{
	width: 800px;
	margin: 0 auto;
}

ul{
 	list-style: none;
	color: #ffffff;
	text-align: center;
	box-sizing: border-box;
}

li{
	display: inline-block;
	border: 3px solid #ffffff;
	margin: -4px;
	padding-top: 20px;
	height: 90px;
	box-sizing: border-box;
}

ul.listitem1{
	margin: 1px auto;
	padding: 0;
	opacity: inherit;
}

li.lisbon{
	width: 50%;
	text-align: center;
	background-color: #3399CC;
}

li.paris{
	width: 25%;
	text-align: center;
	background-color: #33CCCC;
}

li.belgrad{
	width: 25%;
	text-align: center;
	background-color: #996699;
}

/* другий ul*/

ul.listitem2{
	margin: 1px auto;
	padding: 0;
	opacity: inherit;
}

li.moscow{
	width: 25%;
	text-align: inherit;
	background-color: #C24747;
}

li.aviv{
	width: 25%;
	text-align: inherit;
	background-color: #E2674A;
}

li.cair{
	width: 25%;
	text-align: inherit;
	background-color: #FFCC66;
}

li.york{
	width: 25%;
	text-align: inherit;
	background-color: #99CC99;
}

/*третій ul*/

ul.listitem3{
	margin: 1px auto;
	padding: 0;
	opacity: inherit;
	width: 100%;
}

li.delhi{
	width: 25%;
	text-align: center;
	background-color: #669999;
}

li.francisco{
	width: 50%;
	text-align: inherit;
	background-color: #CC6699;
	opacity: inherit;
}

li.tokyo{
	width: 25%;
	text-align: center;
	background-color: #339966;
}

ul.lastlist{
	margin: 1px auto;
	padding: 0;
	opacity: inherit;
}

li.sydney{
	width: 100%;
	text-align: center;
	background-color: #666699;
	opacity: inherit;
}

span{
	color: #CDCDDD;
}


footer, header{
	width: 50%;
	margin: 0 auto;
}

p, h3{
	color: #FFFFFF;
	text-align: left;
}

li:hover{
	opacity: 0.8;
	color: none;
	cursor: pointer;
	text-shadow: 1px -2px 8px #431756;
	font-size: 17px;
}

span:hover{
	color: #ffffff;
}
